@import "tailwindcss";



.bg-dots {
  background-image: radial-gradient(#171a1f1F 1px, transparent 1px);
  background-size: 24px 24px;
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.4;
}